<!DOCTYPE html>
<html> 
  <head> 
 	<title><%= title></title>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<link rel="icon" href="favicon.ico" type="imagen/x-icon" />
  </head>

  <body> 
	<h1>Bienvenido a <%= title%></h1>
	<p>Portal de Juegos !!!</p>
	<p><a href='examen/question'> Inicio de Juego ... </a></p>
  </body>
</html>
