<!DOCTYPE html>
<html> 
  <head> 
 	<meta charset="utf-8">
	<title>Examen</title>
	<link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
	
   <body> 
  	<h2>Examen: El Juego de Preguntas </h2>

  	Respuesta: <=% respuesta %> <p>
  	<a href="/examen/question" Intentalo de Nuevo </a>
  </body>
</html>
